Repository eraldosb/example-java-maven: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, echo 'Java files will be checked by Maven Checkstyle', echo 'XML and Properties files will be checked by Maven', echo 'Shell scripts will be checked for syntax', echo 'Docker files will be checked for syntax', echo 'YAML files will be checked for syntax', echo 'Markdown files will be checked for formatting', echo 'SQL files will be checked for syntax', echo 'Python files will be checked for syntax', echo 'Ruby files will be checked for syntax', echo 'PHP files will be checked for syntax', echo 'Go files will be checked for syntax', echo 'Rust files will be checked for syntax', echo 'C/C++ files will be checked for syntax', echo 'C# files will be checked for syntax', echo 'Swift files will be checked for syntax', echo 'Kotlin files will be checked for syntax', echo 'Scala files will be checked for syntax', echo 'Clojure files will be checked for syntax', echo 'Haskell files will be checked for syntax', echo 'OCaml files will be checked for syntax', echo 'F# files will be checked for syntax', echo 'Erlang files will be checked for syntax', echo 'Elixir files will be checked for syntax', echo 'Julia files will be checked for syntax', echo 'R files will be checked for syntax', echo 'Objective-C files will be checked for syntax', echo 'Perl files will be checked for syntax', echo 'Lua files will be checked for syntax', echo 'Vim files will be checked for syntax', echo 'Emacs files will be checked for syntax', echo 'LaTeX files will be checked for syntax', echo 'reStructuredText files will be checked for syntax', echo 'AsciiDoc files will be checked for syntax', echo 'Org mode files will be checked for syntax', echo 'Wiki files will be checked for syntax', echo 'Text files will be checked for formatting', echo 'Log files will be checked for formatting', echo 'Configuration files will be checked for syntax', echo 'TOML files will be checked for syntax', echo 'Environment files will be checked for syntax', echo 'Git files will be checked for syntax', echo 'Docker ignore files will be checked for syntax', echo 'EditorConfig files will be checked for syntax', echo 'ESLint files will be checked for syntax', echo 'Prettier files will be checked for syntax', echo 'Husky files will be checked for syntax', echo 'Lint-staged files will be checked for syntax', echo 'Commitlint files will be checked for syntax', echo 'Renovate files will be checked for syntax', echo 'Semantic Release files will be checked for syntax', echo 'Dependabot files will be checked for syntax', echo 'GitHub files will be checked for syntax', echo 'GitLab files will be checked for syntax', echo 'Bitbucket files will be checked for syntax', echo 'Azure files will be checked for syntax', echo 'Jenkins files will be checked for syntax', echo 'Travis files will be checked for syntax', echo 'CircleCI files will be checked for syntax', echo 'AppVeyor files will be checked for syntax', echo 'Bamboo files will be checked for syntax', echo 'TeamCity files will be checked for syntax', echo 'Buildkite files will be checked for syntax', echo 'Drone files will be checked for syntax', echo 'Wercker files will be checked for syntax', echo 'Codeship files will be checked for syntax', echo 'Semaphore files will be checked for syntax', echo 'Shippable files will be checked for syntax', echo 'Solano files will be checked for syntax', echo 'Magnum files will be checked for syntax', echo 'Snap files will be checked for syntax', echo 'Strider files will be checked for syntax'

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: ((((any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{md,mdx})) or (any of: *.{css,scss,sass,less})) or (any of: *.{html,htm})
  echo 'Java files will be checked by Maven Checkstyle': any of: *.java
  echo 'XML and Properties files will be checked by Maven': any of: *.{xml,properties}
  echo 'Shell scripts will be checked for syntax': any of: *.{sh,bat,cmd}
  echo 'Docker files will be checked for syntax': any of: *.{dockerfile,Dockerfile}
  echo 'YAML files will be checked for syntax': any of: *.{yml,yaml}
  echo 'Markdown files will be checked for formatting': any of: *.{md,mdx}
  echo 'SQL files will be checked for syntax': any of: *.{sql}
  echo 'Python files will be checked for syntax': any of: *.{py}
  echo 'Ruby files will be checked for syntax': any of: *.{rb}
  echo 'PHP files will be checked for syntax': any of: *.{php}
  echo 'Go files will be checked for syntax': any of: *.{go}
  echo 'Rust files will be checked for syntax': any of: *.{rs}
  echo 'C/C++ files will be checked for syntax': any of: *.{cpp,c,cc,cxx,h,hpp}
  echo 'C# files will be checked for syntax': any of: *.{cs}
  echo 'Swift files will be checked for syntax': any of: *.{swift}
  echo 'Kotlin files will be checked for syntax': any of: *.{kt}
  echo 'Scala files will be checked for syntax': any of: *.{scala}
  echo 'Clojure files will be checked for syntax': any of: *.{clj,cljs,cljc,edn}
  echo 'Haskell files will be checked for syntax': any of: *.{hs,lhs}
  echo 'OCaml files will be checked for syntax': any of: *.{ml,mli}
  echo 'F# files will be checked for syntax': any of: *.{fs,fsi,fsx}
  echo 'Erlang files will be checked for syntax': any of: *.{erl,hrl}
  echo 'Elixir files will be checked for syntax': any of: *.{ex,exs}
  echo 'Julia files will be checked for syntax': any of: *.{jl}
  echo 'R files will be checked for syntax': any of: *.{r}
  echo 'Objective-C files will be checked for syntax': any of: *.{m,mm}
  echo 'Perl files will be checked for syntax': any of: *.{pl,pm}
  echo 'Lua files will be checked for syntax': any of: *.{lua}
  echo 'Vim files will be checked for syntax': any of: *.{vim}
  echo 'Emacs files will be checked for syntax': any of: *.{emacs,el}
  echo 'LaTeX files will be checked for syntax': any of: *.{tex}
  echo 'reStructuredText files will be checked for syntax': any of: *.{rst}
  echo 'AsciiDoc files will be checked for syntax': any of: *.{adoc,asciidoc}
  echo 'Org mode files will be checked for syntax': any of: *.{org}
  echo 'Wiki files will be checked for syntax': any of: *.{wiki}
  echo 'Text files will be checked for formatting': any of: *.{txt}
  echo 'Log files will be checked for formatting': any of: *.{log}
  echo 'Configuration files will be checked for syntax': any of: *.{ini,cfg,conf}
  echo 'TOML files will be checked for syntax': any of: *.{toml}
  echo 'Environment files will be checked for syntax': any of: *.{env}
  echo 'Git files will be checked for syntax': any of: *.{gitignore,gitattributes}
  echo 'Docker ignore files will be checked for syntax': any of: *.{dockerignore}
  echo 'EditorConfig files will be checked for syntax': any of: *.{editorconfig}
  echo 'ESLint files will be checked for syntax': any of: *.{eslintrc,eslintignore}
  echo 'Prettier files will be checked for syntax': any of: *.{prettierrc,prettierignore}
  echo 'Husky files will be checked for syntax': any of: *.{huskyrc}
  echo 'Lint-staged files will be checked for syntax': any of: *.{lintstagedrc}
  echo 'Commitlint files will be checked for syntax': any of: *.{commitlintrc}
  echo 'Renovate files will be checked for syntax': any of: *.{renovaterc}
  echo 'Semantic Release files will be checked for syntax': any of: *.{semantic-release}
  echo 'Dependabot files will be checked for syntax': any of: *.{dependabot}
  echo 'GitHub files will be checked for syntax': any of: *.{github}
  echo 'GitLab files will be checked for syntax': any of: *.{gitlab}
  echo 'Bitbucket files will be checked for syntax': any of: *.{bitbucket}
  echo 'Azure files will be checked for syntax': any of: *.{azure}
  echo 'Jenkins files will be checked for syntax': any of: *.{jenkins}
  echo 'Travis files will be checked for syntax': any of: *.{travis}
  echo 'CircleCI files will be checked for syntax': any of: *.{circle}
  echo 'AppVeyor files will be checked for syntax': any of: *.{appveyor}
  echo 'Bamboo files will be checked for syntax': any of: *.{bamboo}
  echo 'TeamCity files will be checked for syntax': any of: *.{teamcity}
  echo 'Buildkite files will be checked for syntax': any of: *.{buildkite}
  echo 'Drone files will be checked for syntax': any of: *.{drone}
  echo 'Wercker files will be checked for syntax': any of: *.{wercker}
  echo 'Codeship files will be checked for syntax': any of: *.{codeship}
  echo 'Semaphore files will be checked for syntax': any of: *.{semaphore}
  echo 'Shippable files will be checked for syntax': any of: *.{shippable}
  echo 'Solano files will be checked for syntax': any of: *.{solano}
  echo 'Magnum files will be checked for syntax': any of: *.{magnum}
  echo 'Snap files will be checked for syntax': any of: *.{snap}
  echo 'Strider files will be checked for syntax': any of: *.{strider}

feat: atualizar para versão v2.1.0 com autenticação JWT completa
  docker-compose.yml
  run-separated.sh
  user-management-backend/Dockerfile
  user-management-backend/pom.xml
  user-management-backend/src/main/resources/application.properties
  user-management-frontend/package.json
Due: prettier --write, echo 'XML and Properties files will be checked by Maven', echo 'Shell scripts will be checked for syntax', echo 'YAML files will be checked for syntax'

feat(auth): implementar sistema de autenticação JWT completo
  API_DOCUMENTATION.md
  pom.xml
  src/main/java/com/example/usermanagement/config/DataInitializer.java
  src/main/java/com/example/usermanagement/config/JwtAuthenticationEntryPoint.java
  src/main/java/com/example/usermanagement/config/JwtRequestFilter.java
  src/main/java/com/example/usermanagement/config/SecurityConfig.java
  src/main/java/com/example/usermanagement/controller/AuthController.java
  src/main/java/com/example/usermanagement/model/User.java
  src/main/java/com/example/usermanagement/service/CustomUserDetailsService.java
  src/main/java/com/example/usermanagement/service/JwtService.java
  src/main/resources/application.properties
  user-management-frontend/src/App.tsx
  user-management-frontend/src/components/ProtectedRoute.tsx
  user-management-frontend/src/contexts/AuthContext.tsx
  user-management-frontend/src/pages/LoginPage.tsx
  user-management-frontend/src/services/api.ts
Due: eslint --fix, prettier --write, echo 'Java files will be checked by Maven Checkstyle', echo 'XML and Properties files will be checked by Maven', echo 'Markdown files will be checked for formatting'

feat: implementar autenticação JWT no frontend
  user-management-frontend/src/components/Layout.tsx
Due: eslint --fix, prettier --write

feat: adicionar funcionalidade de geração de token para usuários
  user-management-frontend/src/components/TokenModal.tsx
  user-management-frontend/src/components/UserTable.tsx
  user-management-frontend/src/services/api.ts
Due: eslint --fix, prettier --write

feat: implementar página de gerenciamento de tokens para usuários
  API_DOCUMENTATION.md
  FRONTEND_DOCUMENTATION.md
  scripts/check-docs.sh
  user-management-backend/src/main/java/com/example/usermanagement/controller/AuthController.java
  user-management-backend/src/main/java/com/example/usermanagement/service/JwtService.java
  user-management-frontend/src/App.tsx
  user-management-frontend/src/components/Layout.tsx
  user-management-frontend/src/pages/TokensPage.tsx
Due: eslint --fix, prettier --write, echo 'Java files will be checked by Maven Checkstyle', echo 'Shell scripts will be checked for syntax', echo 'Markdown files will be checked for formatting'

docs(api): adicionar exemplos detalhados de uso de tokens JWT
  ARCHITECTURE.md
  DEPLOYMENT.md
  DEVELOPMENT_STANDARDS.md
  scripts/check-docs.sh
Due: prettier --write, echo 'Shell scripts will be checked for syntax', echo 'Markdown files will be checked for formatting'
